<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id="insertOne" parameterType="hashmap">
		insert into board
		values(#{board_id}, #{id},
		#{comments}, sysdate,
		#{board_image,
		jdbcType=VARCHAR})
	</insert>

	<select id="selectAll" resultType="hashmap">
		select * from board order by
		BOARD_DATE desc
	</select>

	<select id="selectPhoto" resultType="hashmap">
		select board.*,
		board_photo.BOARD_IMAGE detail_image from board left join board_photo
		on board.board_id = board_photo.board_id where board.board_id =
		#{board_id}
	</select>

	<select id="selectLikeCount" resultType="hashmap">
		select board.board_id,
		count(board_like.id) as count
		from board left join board_like
		on
		board.board_id = board_like.board_id
		group by board.board_id
	</select>

	<select id="selectLike" resultType="hashmap">
		select * from board_like
		<where>
			<if test="id != null">
				id = #{id} and board_id = #{board_id}
			</if>
		</where>
	</select>
</mapper>