<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id="insertOne" parameterType="hashmap">
		insert into board
		values(#{board_id}, #{id},
		#{comments}, sysdate,
		#{board_image,
		jdbcType=VARCHAR})
	</insert>

	<select id="selectAll" resultType="hashmap">
		select * from board order by
		board_date desc
	</select>

	<select id="selectPhoto" resultType="hashmap">
		select board.*,
		board_photo.BOARD_IMAGE detail_image from board left join board_photo
		on board.board_id = board_photo.board_id where board.board_id =
		#{board_id}
	</select>
</mapper>