<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
	<select id="selectOne" resultType="hashmap">
		select * from follow where
		id=#{id} and friend=#{friend}
	</select>

	<insert id="insertOne">
		insert into follow values (follow_sequence.nextval,
		#{id}, #{friend})
	</insert>

	<delete id="deleteOne">
		delete from follow where id=#{id} and
		friend=#{friend}
	</delete>

	<select id="selectList" resultType="hashmap">
		select * from follow where
		id=#{id}
	</select>

	<select id="selectSearchFollow" resultType="hashmap">
		select member.* from
		follow join member on
		follow.friend = member.id where follow.id=#{id}
		and ( follow.friend
		like
		#{keyword} or member.nick like #{keyword})
	</select>
</mapper>