<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addNewjoin" parameterType="hashmap">
		insert into member
		values(#{id}, #{nick}, #{pass}, #{email}, #{profile}, sysdate,
		#{right})
	</insert>
	<select id="getByIdAndPassword" parameterType="hashmap"
		resultType="hashmap">
		select * from member
		<where>
			<if test="id != null">
				id=#{id}
			</if>
			<if test="pass != null">
				and pass=#{pass}
			</if>
		</where>
	</select>
	<select id="checkId" resultType="hashmap">
		select * from member where
		id=#{id}
	</select>

	<select id="selectOne" resultType="hashmap">
		select * from member m
		left
		join (select member.id, count(follow.friend) as COUNT from member
		left
		join follow on member.id=follow.friend group by member.id)t
		on m.id =
		t.id where m.id=#{id}
	</select>

	<select id="selectList" resultType="hashmap">
		select * from member
	</select>

	<select id="selectFind" resultType="hashmap">
		select * from member where
		nick like #{keyword} or id
		like #{keyword}
	</select>

	<update id="updateMember" parameterType="hashmap">
		update member
		<set>
			<if test="nick!=null">
				nick=#{nick},
			</if>
			<if test="pass!=null">
				pass=#{pass},
			</if>
			<if test="email!=null">
				email=#{email},
			</if>
			<if test="profile!=null">
				profile=#{profile},
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="selectSocketUser" resultType="hashmap">
		select * from member
		<if test="user != null">
			where id in
			<foreach collection="user" item="uid" open="(" close=")"
				separator=",">
				#{uid}
			</foreach>
		</if>
	</select>

</mapper>