<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="addNewjoin" parameterType="hashmap">
		insert into member
		values(#{id}, #{nick}, #{pass}, #{email}, #{profile}, sysdate,
		#{right})
	</insert>
	<select id="getByIdAndPassword" parameterType="hashmap"
		resultType="hashmap">
		select * from member 
			<where>
				<if test="id != null">
					id=#{id}
				</if>
				<if test="pass != null">
					and pass=#{pass}
				</if>	
			</where>
	</select>
	<select id="checkId" resultType="hashmap">
		select * from member where
		id=#{id}
	</select>

</mapper>