<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scrap">
	<select id="selectCount" resultType="hashmap">
		select count(*) as COUNT
		from scrap where id=#{id}
	</select>
	
	<select id="selectScrapCheck" resultType="hashmap">
		select * from scrap 
		<where>
			<if test="ino != null">
				recipe_no=#{ino}
			</if>
			<if test="id != null">
				and id=#{id}
			</if>
		</where>		
	</select>
	
	
	<insert id="insertRecipe" parameterType="hashmap">
		insert into scrap values (scrap_sequence.nextval,#{id},#{ino})
	</insert>
	
	
</mapper>